:root {
  --primario: #2196F3;
  --primarioOscuro: #1565C0;
  --secundario: #FF9800;
  --secundarioOscuro: #E65100;
  --blanco: #FFF;
  --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

*, *:before, *:after {
    box-sizing: inherit;
}

/** Globales **/
body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}
p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}

/** Header **/
.header {
    display: flex;
    justify-content: center;
}
.header__logo {
    margin: 3rem 0;
    font-size: 5rem;
    color: var(--primarioOscuro);
}
span{
  color: var(--secundario);
  font-weight: bold;
  font-size: 8rem;
}
/** Footer **/
.footer {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__texto {
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2.2rem;
}
/** Navegacion **/
.navegacion {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem; 
}
.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--secundario);
}

/** Grid **/
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/** Productos **/
.producto {
    background-color: var(--primarioOscuro);
    padding: 1rem;
}

.producto__nombre {
    font-size: 4rem;
}
.producto__precio {
    font-size: 1.5rem;
    color: var(--secundario);
}
.producto__nombre,
.producto__precio {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}


/** Nosotros **/
.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
}
@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
.nosotros__imagen {
    grid-row: 1 / 2;
}
@media (min-width: 768px) {
    .nosotros__imagen {
       grid-column: 2 / 3;
    }
}

/** Bloques **/
.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr);
    }
    .bloques img{
      width: 15rem;
      height: 15rem;
       ;
    }
}

.bloque {
    text-align: center;
}

.bloque__titulo {
    margin: 0;
}

/** Pagina del Producto **/
@media (min-width: 768px) {
    .camisa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.formulario__campo {
    border: 1rem solid var(--primarioOscuro);
    background-color: transparent;
    font-size: 2rem; 
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none;
}
.formulario__submit {
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1 / 3;
}
.formulario__submit:hover {
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}

/** Paginas grid y flex**/
.entrada-blog a, .entrada-blog__flex a {
    display: inline-block;
    background-color: var(--secundarioOscuro);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
/** Dos columnas con GRID**/
@media (min-width: 768px) {
  .dos-columnas {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-columns: repeat(2, 50%);
      grid-template-columns: 1fr 1fr;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
  }
}
/** Tres columnas con GRID**/

/* Media Query para pantallas medianas o más grandes (min-width: 768px) */
@media (min-width: 768px) {
  /* Contenedor con tres columnas utilizando CSS Grid */

  /* Establece el contenedor como un grid container con tres columnas del mismo tamaño y espacio entre columnas */
  .tres-columnas {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2rem; /* Espacio entre las columnas */
  }
}

/** Tres columnas( 1 mas grande) grid**/

@media (min-width: 768px) {
    .contenedor-grid {
        display: grid;
        grid-template-areas: "izquierda contenido derecha";
        grid-template-columns: 1fr 3fr 1fr;
        grid-auto-flow: column;
        column-gap: 2rem;
    }
    .contenido-principal {
        grid-area: contenido;
    }

    .sidebar-1 {
        grid-area: izquierda;
    }
}

/** column drop grid **/

@media (min-width: 480px) {
    .column-drop-css {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .primera {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    .segunda {
        grid-column: 2 / 3;
        grid-row: 1 / 3;

    }
}

@media (min-width: 768px) {
    .column-drop-css {
        grid-template-columns: repeat(3, 1fr);
    }
    .primera {
        grid-column: 2 / 3;
        grid-row: unset;
    }
    .segunda {
        grid-column: 3 / 4;
        grid-row: unset;
    }

}


/** con sidebar grid **/

@media (min-width: 768px) {
    .con-sidebar {
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 4rem;
        grid-auto-flow: column;
    }
    aside {
        grid-column: 2 / 3;
    }
}
/**  layout Shifter GRID**/
@media (min-width:768px) {
  .layout-shifter {
      display: grid;
      grid-template-areas: "contenido"
                           "inferior";
  }

  .sidebar {
      grid-area: inferior;
  }

  .contenido-principal {
      grid-area: contenido;
      display: grid;
      grid-template-areas: "entrada1 entrada2";
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3rem;
  }
}

@media (min-width: 992px) {
  .layout-shifter {
      grid-template-areas: "contenido sidebar";
      column-gap: 2rem;
  }

  .sidebar {
      grid-area: sidebar;
  }
  .contenido-principal {
      grid-area: contenido;

      grid-template-areas: "entrada1"
                           "entrada2";
      grid-template-columns: unset;
  }
}

/** Dos columnas con FLEX**/

@media (min-width: 768px) {
    .dos-columnas__flex {
        display: flex;
        justify-content: space-between;
    }

    .entrada-blog__flex {
        flex: 0 0 calc( 50% - 1rem );
    }
}

/** Dos columnas con FLEX**/

/* Media Query para pantallas de al menos 768px de ancho */

@media (min-width: 768px) {
  /* Estilos para el contenedor con tres columnas utilizando Flexbox */

  /* Establece el contenedor como un flex container y distribuye el espacio entre los elementos */
  .tres-columnas {
      display: flex;
      justify-content: space-between;
  }

  /* Establece el tamaño y comportamiento de las entradas del blog dentro del contenedor flex */

  /* Establece el tamaño específico para cada entrada del blog, ocupando el 33.3% del ancho menos 1rem de espacio entre ellas */
  .entrada-blog {
      flex: 0 0 calc(33.3% - 1rem);
  }
}

/** Tres columnas (i mas grande) flex **/

@media (min-width: 768px) {
    .contenedor-flex {
        display: flex;
        justify-content: space-between;
    }
    .contenido-principal {
        flex-basis: calc(60% - 1rem);
    }

    .sidebar {
        flex-basis: calc(20% - 1rem);
    }
    .sidebar-1 {
        order: -1;
    }
}

/** COLUMN DROP FLEX**/

@media (min-width: 480px) {
    .column-drop-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .contenido-principal, 
    .primera {
        flex-basis: calc(50% - 1rem);
    }
}

@media (min-width: 768px) {
    .contenido-principal, 
    .primera,
    .segunda {
        flex: 0 0 calc(33.3% - 2rem);
    }
}

/** CON SIDEBAR FLEX**/

@media (min-width: 768px) {
    .con-sidebarFlex {
        display: flex;
        gap: 2rem;
    }
    aside {
        flex: 1;
    }
    article {
        flex: 3;
    }
}


/** LAYOUT SHIFTER FLEX **/
@media (min-width:768px) {
    .layout-shifter {
        display: flex;
        flex-direction: column-reverse;
    }
    .contenido-principal {
        display: flex;
        justify-content: space-between;
    }
    .entrada-blog {
        flex: 0 0 calc(50% - 2rem);
    }
}

@media (min-width:992px) {
    .layout-shifter {
        flex-direction: row;
        justify-content: space-between;
    }
    .contenido-principal {
        flex: 0 0 calc(66.6% - 2rem);
        flex-wrap: wrap;
    }
    .sidebar {
        flex: 0 0 calc(33.3% - 2rem);
        order: 2;
    }

    .entrada-blog {
        flex: 0 0 100%;
    }
}